<html ng-app='quoteBookApp'>
    <head>
        
    
    
    </head>
    <body ng-controller="quoteBookController">

         <input type="text" placeholder="Add new quote!" ng-model='newQuoteText'>
         <input type="text" placeholder="Quotes author!" ng-model='newQuoteAuthor'>
         <button ng-click="addQuote()">Add Quote</button>
         <div>
             Filter: <input type="text" ng-model='filterText'/>
         </div>
         
         <p ng-repeat = "quote in quotes | filter: filterText">
            <span class = 'text'>{{quote.text}}</span>
            <span class = 'author'>{{quote.author}}</span>
            <button ng-click = "deleteMe(quote.text)">x</button>
         </p>
             
          
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.js"></script>
    <script src="app.js"></script>
    <script src="controller.js"></script>
    </body>
</html>
